<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.blackbelt.hu/judo/meta/jsl/JslDsl"
			class = "hu.blackbelt.judo.meta.jsl.jsldsl.JsldslPackage"
			genModel = "model/generated/JslDsl.genmodel" />
	</extension>
</plugin>
